/*---Styling---*/

/*Colours*/
/*
Primary:
Secondary:
Accent:
*/

/*Background*/
/*
URL: 
*/

/*Typography*/
/*
Header: font-family: 'Gravitas One', cursive;
Body: font-family: 'PT Sans', sans-serif;
*/