/*---Styling---*/

/*Colours*/
/*
Primary: #1F2228
Secondary: #D72C29
Accent: #D6DAF3
*/

/*Background*/
/*
URL: http://subtlepatterns.com/dark-sharp-edges/
*/

/*Typography*/
/*
Header: font-family: 'Playfair Display SC', serif;
Body: font-family: 'PT Sans', sans-serif;
*/

/*Sources for New Code*/
/*
Fixed Background: https://davidwalsh.name/css-fixed-position-background-image
*/

body {
    
    background: url(../img/footer_lodyas/footer_lodyas.png);
    background-attachment: fixed;
}

h1,
h2 {
    font-family: 'Playfair Display SC', serif;
}

p {
    font-family: 'PT Sans', sans-serif;
}