/*---Styling---*/

/*Colours*/
/*
Primary: #1F2228
Secondary: #D72C29
Accent: #D6DAF3
*/

/*Background*/
/*
URL: http://subtlepatterns.com/dark-sharp-edges/
*/

/*Typography*/
/*
Header: font-family: 'Playfair Display SC', serif;
Body: font-family: 'PT Sans', sans-serif;
*/

/*Sources for New Code*/
/*
Fixed Background: https://davidwalsh.name/css-fixed-position-background-image
*/

body {
    
    background: url(../img/footer_lodyas/footer_lodyas.png);
    background-attachment: fixed;
}

h1,
h2 {
    font-family: 'Playfair Display SC', serif;
}

h1 {
    font-size: 3em;
    display: inline-block;
    position: relative;
    margin-top: 157px;
/*
    text-align: center;
    vertical-align: middle;
*/
}

h2 {
    font-size: 1.5em;
}

p,
nav {
    font-family: 'PT Sans', sans-serif;
}

ul {
    list-style: none;
    display: inline-block;
    padding: 3px 40px; 
    
}

a:link,
a:visited {
    
    text-decoration:none;
    line-height: 32px;
    color: #D72C29;
}

header nav {
    
    background: rgba(31,34,40,.5);
    position: fixed;
    top: 0;
    width: auto;
    border: 1px solid #D6DAF3;
    box-shadow: 0 0 20px 4px #D72C29;
    margin-left: 7px;
}